<!DOCTYPE html>
<html lang="en">
  <%- partial('./_partial/head') %> 
<body>
  <% if (is_home()){ %>
    <%- partial('./_partial/header') %> 
  <% } %>
  <% if(is_home() || is_archive()){ %> 
    <%- partial('./_partial/nav') %> 
  <% } %> 
  <div id="body-container">
    <% if(theme.sidebar == "left"){ %> 
      <%- partial('./_partial/sidebar', {post: page}) %> 
      <%- body %>     
    <% }else{ %>
      <%- body %>
      <%- partial('./_partial/sidebar', {post: page}) %> 
    <% } %>  
  </div>
  <%- partial('./_partial/footer') %> 
  <%- partial('./valine') %> 
</body>
</html>