<article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
    <% 
        colors = ['#4A7AFF','#FFC01D','#29C7E5','#FF83B9','#FF4A57','#A155FF']
        color = colors[Math.floor(Math.random() * 5)]   
    %> 
    <section id="article-section">
        <header id="article-header">
            <%- partial('./article/title', {color: color, title: post.title}) %> 
        </header>  
        <div id="article-meta">
            <%- partial('./article/meta', {post_date: page.date, tags: page.tags}) %> 
        </div>
        <div id="article-inner">
            <%- partial('./article/inner') %> 
        </div>
        <div id="article-footer">
            <%- partial('./article/footer') %> 
        </div>
        <div id="article-comment">
            <%- partial('./article/comment') %> 
        </div>
    </section>
</article>
